<div class="h_a">考试须知</div>
<div class="">
  <p>
    考试须知ababafafdafdafadf考试须知ababafafdafdaf
    adf考试须知ababafafdafdafadf考试须知ababafafdafdafadf
    考试须知ababafafdafdafadf考试须知ababafafdafdafadf考试须知
    ababafafdafdafadf考试须知ababafafdafdafadf
    考试须知ababafafdafdafadf考试须知ababafafdafdafadf
    考试须知ababafafdafdafadf
  </p>
</div>