<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>机务维修放行考试系统管理系统 | 系统登录</title>
    <link href="/css/admin/login.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="wrap">
    <h1><a href="javascript:;">管理平台</a></h1>
    <%= form_tag '/manage/sessions', method: 'post', id: 'login-form' do %>

    <div class="login">
        <ul>
            <li>
                <input class="input" id="J_admin_name" required name="login" type="text" placeholder="帐号名" title="帐号名" />
            </li>
            <li>
                <input class="input" id="admin_pwd" type="password" required name="password" placeholder="密码" title="密码" />
            </li>
        </ul>
        <button type="button" name="" class="btn" id="sub">登录</button>
    </div>
    <% end %>
</div>
<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/scripts/login.js"></script>
<% if flash[:error] %>
<script type="text/javascript">
    alert('<%= flash[:error] %>');
</script>
<% end %>
</body>
</html>