<div class="h_a">修改密码</div>
<%= form_tag '/manage/admins/reset_password', method: 'post' do %>

    <div class="table_full">
      <table width="100%">
        <col class="th"/>
        <col width="400"/>
        <col/>
        <tr>
          <th>原密码</th>
          <td>
            <input type="password" name="old_password" class="input length_5 input_hd required" value=""/>
          </td>
          <td>
            <div class="fun_tips"></div>
          </td>
        </tr>
        <tr>
          <th>新密码</th>
          <td>
            <input type="password" id="password" name="password" class="input length_5 required " value=""/>
          </td>
          <td>
            <div class="fun_tips"></div>
          </td>
        </tr>
        <tr>
          <th>确认密码</th>
          <td>
            <input type="password" name="confirm_password" equalTo="#password" class="input length_5 required" value=""/>
          </td>
          <td>
            <div class="fun_tips"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="p10"></div>
    <div class="cc">
      <div class="btn_wrap_pd">
        <button class="btn btn_submit" type="submit">保存</button>
      </div>
    </div>
<% end %>