<div class="table_full">
  <table width="100%">
    <col class="th"/>
    <col width="400"/>
    <col/>
    <tr>
      <th>配置类型:</th>
      <td>
        <select name="dic_type" class="length_5 required">
          <%= options_for_select(profile_type_list, @profile.dic_type) %>
        </select>
      </td>
      <td>
        <div class="fun_tips"></div>
      </td>
    </tr>

    <tr>
      <th>配置编码:</th>
      <td>
        <input type="text" name="dic_key" value="<%= @profile.dic_key %>" class="input length_5 input_hd required"/>
      </td>
      <td>
        <div class="fun_tips"></div>
      </td>
    </tr>

    <tr>
      <th>配置名称:</th>
      <td>
        <input type="text" name="dic_value" value="<%= @profile.dic_value %>" class="input length_5 input_hd required"/>
      </td>
      <td>
        <div class="fun_tips"></div>
      </td>
    </tr>
  </table>
</div>
<div class="p10"></div>
<div class="cc">
  <div class="btn_wrap_pd">
    <button class="btn  btn_success" type="submit">保存</button>
  </div>
</div>