<tr class="option">
  <th><input type="checkbox" name="sign" value="1" class="input length_0 input_hd required">:</th>
  <td><input type="text" name="content[]" class="input length_10 input_hd required"></td>
  <td>
    <div class="fun_tips"></div>
  </td>
</tr>
<tr class="option">
  <th><input type="checkbox" name="sign" value="2" class="input length_0 input_hd required">:</th>
  <td><input type="text" name="content[]" class="input length_10 input_hd required"></td>
  <td>
    <div class="fun_tips"></div>
  </td>
</tr>
<tr class="option">
  <th><input type="checkbox" name="sign" value="3" class="input length_0 input_hd required">:</th>
  <td><input type="text" name="content[]" class="input length_10 input_hd required"></td>
  <td>
    <div class="fun_tips"></div>
  </td>
</tr>
<tr class="option">
  <th><input type="checkbox" name="sign" value="4" class="input length_0 input_hd required">:</th>
  <td><input type="text" name="content[]" class="input length_10 input_hd required"></td>
  <td>
    <div class="fun_tips"></div>
  </td>
</tr>
